/* Skills Section */
.skills-container {
    text-align: center;
    margin-top: 60px;
}

.skills-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.skills-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.skill-box {
    background-color: #302259;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}